/* src/App.css */
.app {
  display: flex;
  max-height: 200vh;
 
}
 
.content {
  margin-left: 250px; /* Adjust based on the sidebar width */
  margin-top: 64px; /* Adjust based on the header height */
  padding: 20px;
  flex-grow: 1;

}
body{
  max-height: 120vh;
}
