@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.AdminBar {
  background-color: rgba(239, 238, 245, 0.128) !important;
  color: #000 !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  margin-left: 4px !important; /* Adjust margin to 20px */
  margin-right: 20px !important; /* Adjust margin to 20px */
  margin-top: -10px !important;
  /* Adjust top margin */
  position: static !important;
  margin-bottom: 5px !important; /* Adjust bottom margin */
  width: calc(100% - 4px) !important;
  font-family: "Poppins" !important;
}

.toolbar {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 !important;
  padding-left: 0px !important;
}

.admin {
  display: flex !important;
  align-items: center !important;
  margin-right: -7px;
}

.typograph {
  font-size: 1.5rem;
  font-weight: 500 !important;
  margin-right: 6px !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  /* transition: background-color 0.3s, color 0.3s; */
}

.typograph:first-child {
  margin-left: 0 !important; /* Remove left margin for the first button */
}

.typograph:hover {
  /* color: white !important; */
  color: #0056b3 !important;
  border-radius: 20px !important;
  /* margin-right: 25px !important; */
  cursor: pointer !important;
}

.typograph.selected {
  position: sticky; /* Ensure the pseudo-element is positioned relative to the text */
  color: #0544a1; /* Ensure text color is white */
  /* text-decoration: none; Remove the default underline */
}

.typograph.selected::after {
  content: "";
  position: absolute;
  bottom: 0px; /* Adjust the space between text and the underline */
  left: 45px;
  width: 30%; /* Adjust the length of the underline (e.g., 50% of the text width) */
  height: 2px; /* Set the thickness of the underline */
  background-color: #fa5864; /* Set the color of the underline */
  border-radius: 20px; /* Adjust the radius of the underline */
  
}


.button {
  background-color: #09459e !important;
  color: #fff !important;
  border-radius: 20px !important;
  display: block !important;
  text-transform: none !important;
  font-weight: normal !important;
  box-shadow: none !important;
  width: 140px;
  height: 35px;
  font-family: "Poppins", sans-serif !important; /* Ensure the text is displayed in the correct case */
}

