@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
 
 
.footer {
    width: 100%; /* Full width */
    height: 20px; /* Very small height */
    background-color: #f1f1f1;
    padding: 5px 0; /* Adjust padding to fit the small height */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }
 
  .footer p {
    margin: 0;
    font-size: 12px; /* Smaller font size */
  }
