/* SpocApproval.css */
.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow: hidden;
    width:fit-content;
    height:auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #BFBFBF;
    border-radius: 12px;
    opacity: 1;
  }
  
  .MuiPaper-root {
    max-width: auto;
    height: auto;
   
  }
  
  .grid-container {
    width:auto;
    height: 100%; /* Ensure the container takes full height */
  }
  
  .paper {
    padding: 2rem;
    background-color: #f9f9f9;
    width: 100%;
    max-width: auto; /* Adjust the max-width as needed */
    margin-top: 2rem;
    margin: auto;
    height: 100%; /* Make sure Paper takes full height */
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .typography-label {
    font-size: 12px;
    margin-bottom: 0.5rem;
    color: gray;
  }
  
  .typography-value {
    font-size: 12px;
    margin-bottom: 0.5rem;
    font-weight: bold; /* Ensure the text is bold */
  }
  
  .divider {
    margin: 1rem 0;
  }
  
  .inner-container {
    display: flex;
    
    flex-direction: column;
    flex-grow: 1; /* Ensure it takes up available space */
  }
  
  /* Additional styles for upper part of the form */
  .typography-label-upper {
    font-size: 12px !important;
    color: gray;
  }
  
  .typography-value-upper {
    font-size: 12px !important;
    font-weight: 600 !important;  }